<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>TimeSync</title>
	<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="assets/css/feathericon.min.css">
	<link rel="stylesheet" href="https://cdn.oesmith.co.uk/morris-0.5.1.css">
	<link rel="stylesheet" href="assets/plugins/morris/morris.css">
	<link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
	<div class="main-wrapper">
		<div class="header">
			<div class="header-left">
				<a href="/admin-dashboard" class="logo">
					<img src="assets/img/hotel_logo.png" width="50" height="70" alt="logo">
					<span class="logoclass">TimeSync</span>
				</a>
			</div>
			<a href="javascript:void(0);" id="toggle_btn"><i class="fe fe-text-align-left"></i></a>
			<a class="mobile_btn" id="mobile_btn"><i class="fas fa-bars"></i></a>

			<ul class="nav user-menu">
				<li class="nav-item dropdown has-arrow">
					<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
						<span class="user-img"><img class="rounded-circle" src="assets/img/profiles/avatar-01.jpg" width="31" alt="Soeng Souy"></span>
					</a>
					<div class="dropdown-menu">
						<div class="user-header">
							<div class="user-text">
								<h6>Soeng Souy</h6>
								<p class="text-muted mb-0">Administrator</p>
							</div>
						</div>
						<a class="dropdown-item" href="profile.html">My Profile</a>
						<a class="dropdown-item" href="settings.html">Account Settings</a>
						<a class="dropdown-item" href="login.html">Logout</a>
					</div>
				</li>
			</ul>

		</div>

		<div class="sidebar" id="sidebar">
			<div class="sidebar-inner slimscroll">
				<div id="sidebar-menu" class="sidebar-menu">
					<ul>
						<li><a href="/admin-dashboard"><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a></li>
						<li class="list-divider"></li>
						<li class="submenu">
							<a href="#"><i class="fas fa-user"></i> <span> Employees </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a href="/employee">Employees List </a></li>
								<li><a href="/admin">Admins List </a></li>
							</ul>
						</li>
						<li class="active"><a href="/department"><i class="fas fa-building"></i> <span>Departments</span></a></li>
						<li><a href="/shift"><i class="fas fa-keyboard"></i> <span>Shift</span></a></li>
						<li><a href="/attendance"><i class="fas fa-clock"></i> <span>Attendance</span></a></li>
						<li class="list-divider"></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="page-wrapper">
			<div class="content container-fluid">
				<div class="page-header">
					<div class="row align-items-center">
						<div class="col">
							<h3 class="page-title mt-5">Add Admin</h3>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<form id="createDepartmentForm" action="/add-department" method="POST">
							<div class="formtype">
								<!-- Department Name -->
								<div class="form-group mb-3">
									<label for="departmentName">Department Name</label>
									<input type="text" class="form-control" id="departmentName" name="departmentName" placeholder="Enter department name" required>
								</div>
								
								<!-- Select Shift -->
								<div class="form-group mb-3">
									<label for="shiftId">Select Shift</label>
									<select name="shiftId" id="shiftId" class="form-control" required>
										<option value="">Select a shift</option>
										{{#shifts}}
											<option value="{{ID}}">{{ID}}: {{TimeIn}} - {{TimeOut}}</option>
										{{/shifts}}
									</select>
								</div>
				
								<!-- Submit Button -->
								<div class="form-group">
									<button type="submit" class="btn btn-primary w-100" id="createDepartmentButton">Create Department</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				
				
				</div>

			</div>
		</div>
	</div>

	<script src="assets/js/jquery-3.5.1.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/moment.min.js"></script>
	<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/js/bootstrap-datetimepicker.min.js"></script>
	<script src="assets/js/script.js"></script>

	<script>
		$(document).ready(function() {
			// Bind the "Create Employee" button to submit the form
			$('#createDepartmentButton').click(function() {
				$('#createDepartmentForm').submit();
			});
		});
	</script>
</body>

</html>
